name: Set Logs

on:
  workflow_dispatch:
  schedule:
    - cron: "0 12 1 * *"

jobs:
  time-logs:
    runs-on: ubuntu-22.04
    steps:
      - name: checkout_repo
        uses: actions/checkout@v4
        with:
         ref: "main"
      - name: set-logs
        run: bash ./bash/step_logs.sh
        env:
          USER_EMAIL: ${{ secrets.USER_EMAIL}}
          USER_NAME: ${{ secrets.USER_NAME}}
