name: Set Logs

on:
  workflow_dispatch:
  schedule:
    - cron: "0 12 1 * *"

jobs:
  time-logs:
    runs-on: ubuntu-22.04
    steps:
      - name: checkout_repo
        uses: actions/checkout@v4
        with:
         ref: "main"
      - name: set-logs
        run: bash ./bash/step_logs.sh
      - name: Set up git user
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git remote set-url origin https://${{ secrets.PUSH_TOKEN }}@github.com/dpfister22/Personal_Portfolio.git
      - name: Commit & push changes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git add ./code/bash/log.txt
          git commit -m "Update the log"
          git push https://x-access-token:${GITHUB_TOKEN}@github.com/dpfister22/Personal_Portfolio.git HEAD:main
